<div class="container mt-3 justify-content-center d-flex">
    <div class="card">
        <div class="container-fluid mt-3">
            <h4 class=" mt-2 mb-3">Update Password</h4>
            <div class="text-danger" *ngIf="error != ''">{{error}}</div>
            <form [formGroup]="updateForm">
                <div class="form-row">
                    <div class="form-group col-sm-12 col-lg-12">
                        <label for="loginID">Username</label>
                        <input type="text" class="form-control" id="loginID" formControlName="loginID"
                            placeholder="Enter Username">
                        <div *ngIf="(loginID.touched || loginID.dirty)">
                            <small *ngIf="loginID.invalid && loginID.errors?.required" class="text-danger">Username is
                                required.</small>
                        </div>
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-sm-12 col-md-12 col-lg-12">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" formControlName="password"
                            placeholder="Enter Password">
                        <div *ngIf="(password.touched || password.dirty)">
                            <small *ngIf="password.invalid  && password.errors?.required" class="text-danger">Password
                                is required.</small>
                            <small *ngIf="password.errors?.minlength" class="text-danger">password must be at least 6
                                characters</small>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-sm-12 col-md-12 col-lg-12">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword"
                            formControlName="confirmPassword" placeholder="Enter Confirm Password">
                        <div *ngIf="(confirmPassword.touched || confirmPassword.dirty)">
                            <small *ngIf="confirmPassword.invalid && confirmPassword.errors.required"
                                class="text-danger">Confirm Password is required.</small>
                            <small class="text-danger" *ngIf="confirmPassword.errors?.passwordMatch">Password &
                                Confirm password should match</small>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class=" form-group col-sm-12 col-md-12 col-lg-12 ">
                        <button type="submit" class="btn btn-primary" (click)=updatePassword()
                            [disabled]="!updateForm.valid">UpdatePassword</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>